* {
    direction: rtl !important;
}
.layout-fixed .main-sidebar {
    right: 0;
}
.brand-image {
    float: right;
}
.content-wrapper,
.main-footer,
.main-header {
    margin-left: 0px;
    margin-right: 250px;
}
.mr-auto-navbav {
    margin-right: auto !important;
}
.navbar-expand .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

[class*="icheck-"]
    > input:first-child:checked
    + input[type="hidden"]
    + label::after,
[class*="icheck-"] > input:first-child:checked + label::after {
    right: 15px;
    left: auto;
}
.nav-sidebar .nav-link > .right,
.nav-sidebar .nav-link > p > .right {
    left: 1rem;
    right: auto;
}
.nav-sidebar .nav-link > .right:nth-child(2),
.nav-sidebar .nav-link > p > .right:nth-child(2) {
    left: 2.2rem;
    right: auto;
}
.small-box .icon > i {
    left: 15px;
    right: auto;
}
@media (min-width: 992px) {
    .sidebar-mini.sidebar-collapse .content-wrapper,
    .sidebar-mini.sidebar-collapse .main-footer,
    .sidebar-mini.sidebar-collapse .main-header {
        margin-right: 4.6rem !important;
    }
    .sidebar-mini.sidebar-collapse .content-wrapper,
    .sidebar-mini.sidebar-collapse .main-footer,
    .sidebar-mini.sidebar-collapse .main-header {
        margin-right: 4.6rem !important;
        margin-left: 0 !important;
    }
}

@media (max-width: 767.98px) {
    .main-sidebar,
    .main-sidebar::before {
        box-shadow: none !important;
        margin-right: -250px;
    }

    .content-wrapper,
    .content-wrapper::before,
    .main-footer,
    .main-footer::before,
    .main-header,
    .main-header::before {
        margin-right: 0;
    }

    .sidebar-open .main-sidebar,
    .sidebar-open .main-sidebar::before {
        margin-right: 0;
    }
}

.navbar-expand .navbar-nav .nav-link.logout {
    right: unset;
    left: 0;
    transform: rotate(180deg);
}

.card-title {
    float: right;
}
.card-header .mlink {
    float: left;
}
.card-header > .card-tools {
    float: left;
}
.products-list .product-img {
    float: right;
    margin-left: 10px;
}
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    left: 6px;
    right: unset;
}
.fa-angle-left {
    transform: unset;
}
.fa-arrow-circle-right {
    transform: rotateY(180deg);
}
.badge {
    padding: 0.15em 0.3em;
    font-size: 70%;
}
