.pgloader {
    /* background: rgba(0, 0, 0, 0.2); */
    color: #666;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
}

.actions_td {
    display: flex;
    justify-content: space-evenly;
}
.textarea {
    width: 100%;
    height: 200px;
    font-size: 14px;
    line-height: 18px;
    border: 1px solid #dddddd;
    padding: 10px;
}
.langs {
    margin-bottom: 10px;
}
.langs img {
    height: 25px;
    border-radius: 50%;
}
.langs li a {
    color: #333;
    line-height: 45px;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 10px;
    display: block;
}
.langs li a.active {
    background: #ddd;
    border-bottom: solid 1.5px #333;
}
.card-header .mlink {
    float: right;
}
.action_type {
    font-weight: bold;
    padding: 0px 2px;
}
.nav-tabs .requiredInp {
    border: 0px;
    border-top: 3px solid red;
    margin: 0px 3px;
    background: rgba(250, 0, 0, 0.2) !important;
}

.card-footer button {
    position: relative;
    padding-left: 70px;
    overflow: hidden;
}
.card-footer button i {
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    height: 100%;
    background: #fff;
    color: #007bff;
    width: 35px;
    line-height: 40px;
}
.card-footer button i.fa-spin {
    background: transparent;
    color: #fff;
}
.pagination {
    justify-content: center;
    margin-top: 30px;
}

.breadcrumb a {
    text-decoration: none;
}

.sperror {
    color: red;
    font-size: 14px;
    margin-right: 10px;
}
.select2-container .select2-selection--single {
    height: unset;
}

.mycustom-file {
    height: 160px;
    width: 160px;
    max-width: 160px;
    position: relative;
    border: dotted 1.7px #ccc;
    overflow: hidden;
    color: #999;
    cursor: pointer;
}
.multi_images {
    border: solid 1px #ccc;
    padding: 10px;
    width: 100%;
    border-radius: 2px;
}
.multi_images .imgTag {
    width: 140px;
    height: 140px;
    border: solid 1px #d7d7d7;
    margin-left: 5px;
    float: right;
    background: #fcfcfc;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.multi_images .imgTag img {
    max-height: 100%;
    position: absolute;
}
.multi_images .imgTag a {
    position: absolute;
    display: block;
    background: red;
    color: #fff;
    width: 30px;
    height: 30px;
    z-index: 1;
    border-radius: 50%;
    top: 5px;
    right: 5px;
    opacity: 0.7;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    display: none;
}
.multi_images .imgTag:hover a {
    display: block;
}
.multi_images .mycustom-file {
    height: 140px;
    width: 140px;
}
.contactsDiv .mycustom-file {
    height: 45px;
    width: 45px;
    max-width: 45px;
}

.contactsDiv label:not(.mycustom-file-label) {
    display: none;
}
.mycustom-file-input,
.mycustom-file .image,
.mycustom-file-label {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 1;
    text-align: center;
    line-height: 200px;
    background: #fcfcfc;
    cursor: pointer;
}
.mycustom-file-input {
    z-index: 10;
    opacity: 0;
}
.mycustom-file .image {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #ccc;
    font-weight: normal;
}
.mycustom-file .image i {
    font-size: 50px;
    margin-bottom: -50%;
    margin-top: 60%;
}
.mycustom-file img {
    max-height: 100%;
    position: absolute;
}

.sf-dump-expanded,
.sf-dump {
    direction: ltr !important;
    text-align: left;
}
tfoot .contactTr {
    display: none;
}

.nav-header {
    border-top: solid 1px #444;
    padding-top: 10px !important;
    color: #bbb !important;
}
.nav-sidebar .nav-item > .nav-link {
    color: #fff;
    font-size: 14px;
}
[class*="sidebar-dark"] .brand-link {
    color: #fff;
    text-align: center;
}
[class*="sidebar-dark"] .brand-link span {
    font-size: 20px;
}

.products-list .product-info {
    margin-left: unset;
}
.products-list .product-img {
    margin-right: 10px;
}

.control-sidebar-open .control-sidebar,
.control-sidebar-open .control-sidebar::before {
    left: 0;
    right: unset;
}
*:not(i) {
    font-family: "Cairo";
}
.select2-container--default
    .select2-selection--single
    .select2-selection__arrow {
    height: 31px;
    right: 6px;
    left: unset;
}
.navbar-expand .navbar-nav .nav-link.logout {
    display: block;
    background: #343a40;
    color: #fff !important;
    position: absolute;
    top: 0;
    right: 0;
    height: 56px;
    line-height: 56px;
    padding: 0px 20px;
    font-size: 20px;
}
.mr-auto-navbav {
    padding-left: 50px;
}
.locale_nav img {
    height: 25px;
    margin-top: -5px;
}
.fa-angle-left {
    transform: rotateY(180deg);
}
.navbar-expand {
    justify-content: space-between;
}
.navbar-nav {
    padding-right: 70px;
}
.navbar-expand .navbar-nav .dropdown-menu {
    width: 230px;
}
.dropdown-footer {
    text-align: center !important;
}
.text-sm {
    color: #888;
    font-size: 13px !important;
    padding: 0px 10px;
}
p.empty {
    color: #999;
    padding: 20px;
    text-align: center;
    font-size: 13px;
}

.requiredInp {
    border: solid 1px red !important;
    border-left: solid 4px red !important;
    transition: border 0.1s !important;
}
